In [ ]:
import src.strategy as strategy

In [ ]:
cls = getattr(strategy, 'test_bot')
bot = cls()
bot.test_net  = False
bot.back_test = False
bot.stub_test = False
bot.hyperopt  = False
bot.account = 'binanceaccount1'
bot.exchange_arg = 'binance'
bot.pair = 'BTCUSDT'

In [ ]:
bot.run()

In [ ]:
from src.binance_futures import BinanceFutures

In [ ]:
exchange = BinanceFutures(account='binanceaccount1', pair='BTCUSDT', demo=False)

In [ ]:
x = exchange.get_futures_exchange_info()

In [ ]:
import pandas as pd

In [ ]:
col = ['a','b']

In [ ]:
pd.DataFrame(columns=col)

In [1]:
from screener.func import *

In [23]:
get_crypto_df(indicator=['rsi_5m']).sort_values(by='rsi_5m', ascending=True)

100%|██████████| 116/116 [00:20<00:00,  5.71it/s]

        pair     rsi_5m
49  EGLDUSDT  21.447404
22  QTUMUSDT  25.222449
39   DOTUSDT  25.852838
3    XRPUSDT  27.298973
82  ANKRUSDT  27.620908
..       ...        ...
21   NEOUSDT  55.782351
83  LUNAUSDT  57.564680
16  ATOMUSDT  58.413688
71   BELUSDT  62.970824
73   AXSUSDT  67.451202

[113 rows x 2 columns]

In [5]:
# pairs = get_all_pairs()
# x = get_crypto_df(pairs=pairs)
x = get_crypto_df()

100%|██████████| 116/116 [02:04<00:00,  1.07s/it]

In [6]:
x.sort_values(by='rsi_15m', ascending=True)

,pair,rsi_1m,rsi_5m,rsi_15m,rsi_30m,rsi_1h,rsi_1d
67,LRCUSDT,24.397554,35.179748,14.886971,32.871023,41.919663,51.049748
79,AKROUSDT,35.876647,32.630622,17.712721,31.698213,52.945951,37.133600
106,NKNUSDT,40.713983,48.674797,18.878768,26.959648,50.830709,35.803642
93,CHRUSDT,48.024911,46.469154,19.709820,34.020299,47.601607,38.180765
59,FLMUSDT,27.045916,37.365366,19.808402,26.760198,46.197832,34.383096
...,...,...,...,...,...,...,...
81,SANDUSDT,40.325756,57.064683,61.009441,66.809251,72.621875,60.731895
58,ENJUSDT,56.472537,76.727311,61.447473,60.945696,70.957905,52.567629
60,TOMOUSDT,70.052848,62.222399,61.872614,43.291752,51.531321,48.682839
99,STMXUSDT,48.901081,51.716500,62.356012,74.465934,95.502861,67.914359
72,CTKUSDT,53.051129,49.841083,69.870180,85.500887,96.171670,57.054471

In [ ]:
x[4].iloc[-1]

In [ ]:
[q for q in x]

In [ ]:
exchange_info = x

In [ ]:
pairs = [symbol_info['symbol'] for symbol_info in exchange_info['symbols'] if symbol_info['symbol'][-4:]=='USDT']

In [ ]:
pairs

In [ ]:
x = client.get_exchange_info()

In [ ]:
[q['symbol'] for q in x['symbols'] if q['isMarginTradingAllowed']==True and q['symbol'][-4:]=='USDT']

In [ ]:
x['symbols'][0]

In [ ]:
[q['symbol'] for q in x['symbols'] if q['contractType']=='PERPETUAL' and q['symbol'][-4:]=='USDT']