In [ ]:
import src.strategy as strategy

In [ ]:
cls = getattr(strategy, 'test_bot')
bot = cls()
bot.test_net  = False
bot.back_test = False
bot.stub_test = False
bot.hyperopt  = False
bot.account = 'binanceaccount1'
bot.exchange_arg = 'binance'
bot.pair = 'BTCUSDT'

In [ ]:
bot.run()

In [ ]:
from src.binance_futures import BinanceFutures

In [ ]:
exchange = BinanceFutures(account='binanceaccount1', pair='BTCUSDT', demo=False)

In [ ]:
x = exchange.get_futures_exchange_info()

In [ ]:
import pandas as pd

In [ ]:
col = ['a','b']

In [ ]:
pd.DataFrame(columns=col)

In [1]:
from screener.func import *

In [23]:
get_crypto_df(indicator=['rsi_5m']).sort_values(by='rsi_5m', ascending=True)

100%|██████████| 116/116 [00:20<00:00,  5.71it/s]

        pair     rsi_5m
49  EGLDUSDT  21.447404
22  QTUMUSDT  25.222449
39   DOTUSDT  25.852838
3    XRPUSDT  27.298973
82  ANKRUSDT  27.620908
..       ...        ...
21   NEOUSDT  55.782351
83  LUNAUSDT  57.564680
16  ATOMUSDT  58.413688
71   BELUSDT  62.970824
73   AXSUSDT  67.451202

[113 rows x 2 columns]

In [18]:
# pairs = get_all_pairs()
# x = get_crypto_df(pairs=pairs)
x = get_crypto_df(indicator=['rsi_5m'])

100%|██████████| 116/116 [00:21<00:00,  5.28it/s]

In [22]:
x.sort_values(by='rsi_5m', ascending=True)

         pair     rsi_5m
49   EGLDUSDT  32.346368
33   KAVAUSDT  34.387013
110  BAKEUSDT  35.360142
97    ONEUSDT  35.978751
82   ANKRUSDT  36.673236
..        ...        ...
73    AXSUSDT  69.097386
12   DASHUSDT  70.843523
83   LUNAUSDT  70.883068
71    BELUSDT  74.185233
13    ZECUSDT  78.317034

[113 rows x 2 columns]

In [ ]:
x[4].iloc[-1]

In [ ]:
[q for q in x]

In [ ]:
exchange_info = x

In [ ]:
pairs = [symbol_info['symbol'] for symbol_info in exchange_info['symbols'] if symbol_info['symbol'][-4:]=='USDT']

In [ ]:
pairs

In [ ]:
x = client.get_exchange_info()

In [ ]:
[q['symbol'] for q in x['symbols'] if q['isMarginTradingAllowed']==True and q['symbol'][-4:]=='USDT']

In [ ]:
x['symbols'][0]

In [ ]:
[q['symbol'] for q in x['symbols'] if q['contractType']=='PERPETUAL' and q['symbol'][-4:]=='USDT']