In [ ]:
import src.strategy as strategy

In [ ]:
cls = getattr(strategy, 'test_bot')
bot = cls()
bot.test_net  = False
bot.back_test = False
bot.stub_test = False
bot.hyperopt  = False
bot.account = 'binanceaccount1'
bot.exchange_arg = 'binance'
bot.pair = 'BTCUSDT'

In [ ]:
bot.run()

In [ ]:
from src.binance_futures import BinanceFutures

In [ ]:
exchange = BinanceFutures(account='binanceaccount1', pair='BTCUSDT', demo=False)

In [ ]:
x = exchange.get_futures_exchange_info()

In [ ]:
import pandas as pd

In [ ]:
col = ['a','b']

In [ ]:
pd.DataFrame(columns=col)

In [11]:
from screener.func import *

In [23]:
get_crypto_df(indicator=['rsi_5m']).sort_values(by='rsi_5m', ascending=True)

100%|██████████| 116/116 [00:20<00:00,  5.71it/s]

        pair     rsi_5m
49  EGLDUSDT  21.447404
22  QTUMUSDT  25.222449
39   DOTUSDT  25.852838
3    XRPUSDT  27.298973
82  ANKRUSDT  27.620908
..       ...        ...
21   NEOUSDT  55.782351
83  LUNAUSDT  57.564680
16  ATOMUSDT  58.413688
71   BELUSDT  62.970824
73   AXSUSDT  67.451202

[113 rows x 2 columns]

In [15]:
# pairs = get_all_pairs()
# x = get_crypto_df(pairs=pairs)
x = get_crypto_df(indicator=['rsi_1h'])
x.sort_values(by='rsi_1h', ascending=True)

100%|██████████| 116/116 [00:29<00:00,  3.88it/s]

          pair     rsi_1h
95    HBARUSDT  16.373831
23   THETAUSDT  22.690178
41     CRVUSDT  22.776765
54    AVAXUSDT  24.414735
56     HNTUSDT  25.114309
..         ...        ...
71     CTKUSDT  54.412236
35   WAVESUSDT  57.167180
72     AXSUSDT  58.679627
51   STORJUSDT  60.429509
102    MTLUSDT  69.382872

[112 rows x 2 columns]

In [14]:
x.sort_values(by='rsi_1h', ascending=True)

,pair,rsi_1m,rsi_5m,rsi_15m,rsi_30m,rsi_1h,rsi_1d
95,HBARUSDT,42.202569,43.013560,49.485135,28.985004,27.482481,50.944155
56,HNTUSDT,45.032263,35.287275,35.563920,29.224525,32.433039,49.517897
23,THETAUSDT,62.039313,43.089307,47.652661,29.328854,33.673209,24.858644
12,ZECUSDT,74.102335,51.437697,59.294906,44.265240,34.528344,45.894179
41,CRVUSDT,56.184670,58.674705,62.450808,40.932346,35.161578,45.128652
...,...,...,...,...,...,...,...
58,FLMUSDT,36.165441,53.774100,74.939370,71.464783,63.212117,35.322766
35,WAVESUSDT,88.641784,75.986398,89.066030,70.277998,65.598758,56.628156
72,AXSUSDT,26.924987,46.306079,61.800189,59.308307,66.416889,79.504138
51,STORJUSDT,51.779180,33.971759,53.520617,57.431026,68.310650,58.130819
102,MTLUSDT,53.604678,43.646460,66.879198,57.176699,70.941259,57.564802

In [ ]:
x[4].iloc[-1]

In [ ]:
[q for q in x]

In [ ]:
exchange_info = x

In [ ]:
pairs = [symbol_info['symbol'] for symbol_info in exchange_info['symbols'] if symbol_info['symbol'][-4:]=='USDT']

In [ ]:
pairs

In [ ]:
x = client.get_exchange_info()

In [ ]:
[q['symbol'] for q in x['symbols'] if q['isMarginTradingAllowed']==True and q['symbol'][-4:]=='USDT']

In [ ]:
x['symbols'][0]

In [ ]:
[q['symbol'] for q in x['symbols'] if q['contractType']=='PERPETUAL' and q['symbol'][-4:]=='USDT']