In [ ]:
import src.strategy as strategy

In [ ]:
cls = getattr(strategy, 'test_bot')
bot = cls()
bot.test_net  = False
bot.back_test = False
bot.stub_test = False
bot.hyperopt  = False
bot.account = 'binanceaccount1'
bot.exchange_arg = 'binance'
bot.pair = 'BTCUSDT'

In [ ]:
bot.run()

In [ ]:
from src.binance_futures import BinanceFutures

In [ ]:
exchange = BinanceFutures(account='binanceaccount1', pair='BTCUSDT', demo=False)

In [ ]:
x = exchange.get_futures_exchange_info()

In [ ]:
from screener.func import *

In [ ]:
pairs = get_all_pairs()

In [ ]:
pairs

In [4]:
import pandas as pd

In [26]:
q = {'a':[1], 'b':[2]}
w = {'a':3, 'b':4}

In [7]:
series1 = pd.Series(q)
series2 = pd.Series(w)

In [22]:
df = pd.DataFrame(q)

In [37]:
df = df.append(w, ignore_index=True)
df

   a  b
0  1  2
1  3  4
2  3  4
3  3  4
4  3  4
5  3  4
6  3  4
7  3  4
8  3  4
9  3  4

In [10]:
df

Empty DataFrame
Columns: []
Index: []